.journey-list {
    width: 100%;
}

.journey-list > p {
    text-align: center;
    font-size: 0.75rem;
}

.journeys {
    overflow-x: auto;
    margin-bottom: 1rem;
}

.journey-list h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.journey-list td, .journey-list th {
    padding: 0.4rem;
    border: 1px solid #0d0d0d;
    text-align: left !important;
}

.journey-list table {
    margin: 1rem auto;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #1a1a1a;
    filter: drop-shadow(2px 2px 3px #000);
}

.filter {
    cursor: pointer;
}

.filter::after {
    content: '↕'
}