.info * {
    margin-bottom: 1rem;
}

.info h2 {
    margin-top: 1rem;
    text-align: center;
}

.swe {
    font-size: 0.75rem;
}

.info li {
    margin-left: 1.4rem;
}

.info {
    max-width: 900px;
    width: 80%;
}

.container {
    margin-top: 2rem;
}

@media only screen and (min-width: 650px) {
    .container {
        display: flex;
        gap: 2rem;
    }
}

