.station-list h1 {
    text-align: center;
}

.stations {
    width: 18rem;
    margin: 0 auto;
}

.station {
    margin-bottom: 1rem;
}

.station-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
    table-layout: fixed;
}
  
.station-list td, .station-list th {
    padding: 0.2rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left !important;
}
  
.station-list th:nth-child(2) {
    width: 4rem;
}