:root {
  --shadow: drop-shadow(2px 2px 3px #000);
}

#root {
  width: 100%;
  margin: 0 auto;
}

iframe {
  border-radius: 1rem;
  border: 1px solid #646cff;
  margin-bottom: 0 !important;
  filter: var(--shadow);
}

input {
  display: block;
  filter: var(--shadow);
  margin: 1rem auto;
  width: 12rem;
  padding: 0.4rem 1.2rem;
  border: 1px solid #000;
  border-radius: 1rem;
  transition: 0.2s;
}

input:focus {
  width: 14rem;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

nav {
  background-color: #0d0d0d;
  padding: 1rem;
  filter: var(--shadow)
}

main {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  filter: var(--shadow);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  visibility: hidden;
}